@import '../../../../styles/typography.scss', '../../../../styles/palette.scss',
  '../../../../styles/helpers.scss';

.card {
  width: 100%;
  display: flex;
  flex-wrap: column;
  
  gap: 50px;
  flex-direction: row;
  margin: 40px 20px;
  position: relative;
  top: -350px;

  &__img-container {
    //   to center img
    width: 40%;
    display: block;
    margin: 0 auto;
    height: 292px;
    background-color: #ddd;
    border-radius: 5px;
    object-fit: cover;
  }

  &__detail {
    width: 60%;
    padding: 10px 40px;
    align-self: center;

    &__link-btn {
      font-size: rem(35px);
      @include SFProBold;
      color: $primaryGold;
      text-decoration: none;
      display: inline-block;

      &:hover {
        cursor: pointer;
      }
    }


    p{
      font-size: rem(25px);
      @include SFProRegular;
    }

    &__btn {
      padding: 5px;
      font-size: rem(20px);
    }
  }
}
