@import '../../styles/helpers.scss', '../../styles/palette.scss',
  '../../styles/typography.scss';


.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1800px;
  padding: 0 100px;
}

.add-btn {
  position: relative;
  top: -350px;
  left: 100px;
  border: none;
  color: $textPrimary;

  &:hover{
    background: none;
    color: inherit;
  }
}
