@import '../../../styles/typography.scss', '../../../styles/palette.scss',
  '../../../styles/helpers.scss';

.post-edit-container {
  border: 1px solid red;
  max-width: 80%;
  height: 100%;
  position: relative;
  top: -350px;
  left: 0;
  margin: 0 auto;

  &__title {
    text-align: center;
  }
}

// CSS style for texteditor

