@font-face {
    font-family: 'SFProBold';
    src: url(../resources/fonts/SFProDisplay-Bold.ttf);
  }
  
  @font-face {
    font-family: 'SFProUltralight';
    src: url(../resources/fonts/SFProDisplay-Ultralight.ttf);
  }
  
  @font-face {
    font-family: 'SFProUltralightItalic';
    src: url(../resources/fonts/SFProDisplay-UltralightItalic.ttf);
  }

  @font-face {
    font-family: 'SFProMedium';
    src: url(../resources/fonts/SFProDisplay-Medium.ttf);
  }
  
  @font-face {
    font-family: 'SFProRegular';
    src: url(../resources/fonts/SFProDisplay-Regular.ttf);
  }
  
  
  // Typography
  @mixin SFProBold {
    font-family: 'SFProBold';
  }
  
  @mixin SFProUltralight {
    font-family: 'SFProUltralight';
  }
  
  @mixin SFProUltralightItalic {
    font-family: 'SFProUltralightItalic';
  }
  
  @mixin SFProMedium {
    font-family: 'SFProMedium';
  }
  
  @mixin SFProRegular {
    font-family: 'SFProRegular';
  }
  