@import '../../../styles/helpers.scss', '../../../styles/palette.scss',
  '../../../styles/typography.scss';

.hero {
  position: relative;
  top: -350px;
  left: 0;
  width: 100vw;
  overflow: hidden;
  

  &__img {
    width: 100%;
  }

  &__title {
    position: relative;
    top: -155px;
    background-color: $primaryBlue;
    opacity: 0.8;
    min-height: 150px;
    width: auto;
    padding: 0 100px;

    h1 {
      display: inline-block;
      @include SFProBold;
      color: $textWhite;
      font-size: rem(60px);
    }
  }
}
