@import '../../../styles/helpers.scss', '../../../styles/palette.scss',
  '../../../styles/typography.scss';

// basic button styles
.btn {
  display: inline-block;
  font-size: rem(25px);
  min-width: 150px;
  cursor: pointer;
  z-index: 1;
  margin: 30px 0;
  border: 3px solid $primaryGold;
  color: $primaryGold;

  &:hover {
    background: $primaryGold;
    color: $textWhite;
    transition: background 0.4s ease-out;
  }
}

.btn-round {
  border-radius: 100px;
  padding: 15px 25px;
  transition: background 0.4s ease-out;
  background: transparent;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
}

.btn-square {
  padding: 15px 25px;
  border-radius: 15px;
}

.btn-text {
  display: inline-block;
  text-align: left;
  border: none;
  color: $textPrimary;
  background: transparent;

  &:hover {
    background: none;
    color: inherit;
  }
}
