@import '../../styles/typography.scss', '../../styles/palette.scss',
  '../../styles/helpers.scss';

.add-post {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  top: -450px;
  margin: 0 auto;

  &__title {
    color: $textPrimary;
    @include SFProRegular;
    font-size: rem(28px);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__add-cover {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 30px;

    .photo {
      display: inline-block;
      color: $textPrimary;
      @include SFProRegular;
      font-size: rem(18px);
      margin-right: 10px;
    }

    .upload-btn {
      display: inline-block;
      color: $textPrimary;
      @include SFProRegular;
      font-size: rem(18px);
    }
  }

  &__editor {
    min-height: 200px;
  }

  &__type {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 30px;
    align-items: center;

    p {
      margin-left: 10px;
    }
  }
}

.submit-btn {
  color: $textPrimary;
  background: $primaryGold;

  &:hover {
    color: $textPrimary !important;
  }
}

.textarea {
  border-radius: 6px;
  @include SFProRegular;
  color: $textPrimary;
  padding-left: 20px;
  font-size: rem(16px);
  margin-bottom: 12px;
  border: 1px solid $border;
  box-sizing: border-box;

  &:focus {
    outline-color: $primaryBlue;
  }
}
